NAME=eth1
DEVICE=eth1
TYPE=Ethernet
ONBOOT=yes
BOOTPROTO=static
IPADDR={{ .IP1 }}
GATEWAY={{ .GATEWAY1 }}
NETMASK={{ .SUBNET1 | default "255.255.255.0" }}
IPV6INIT=no
DEFROUTE=no
PEERDNS=no
NM_CONTROLLED=no
