NAME=eth0
DEVICE=eth0
TYPE=Ethernet
ONBOOT=yes
BOOTPROTO=static
IPADDR={{ .IP0 }}
GATEWAY={{ .GATEWAY0 }}
NETMASK={{ .SUBNET0 | default "255.255.255.0" }}
IPV6INIT=no
DEFROUTE=yes
PEERDNS=no
NM_CONTROLLED=no
